body{
  margin:0;
  overflow-x:hidden;
}

.spacing-box{
  height: 90px;
}
.main-wrapper{
  width:100%;
  max-width:450px;
  margin: auto;
  /*
  outline: 1px solid black;
  /**/
}
.img-wrapper{
  height: 200px;
  text-align:center;

  /*
  outline: 1px solid black;
  /**/
  overflow:hidden;
}
.img-wrapper img{
  max-width:100%;
  max-height:100%;
}
.img-wrapper img.portrait{
  max-height: 250px;
  margin-top: -23px;
}


.name-wrapper{
  /*
  outline: 1px solid black;
  /**/
  margin-top:18px;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8em;
}
.name-wrapper h1{
  margin:0;
}
.name-wrapper a{
  text-decoration: none;
  color: black;
}
.mapImage{  
  position: relative;
  left: 11px;
  height: 20%;
}

.description-wrapper{
  /*
  outline: 1px solid black;
  /**/
  text-align: center;
  font-family: sans-serif;
  margin-top:8px;
  margin-bottom:18px;
  font-size: 0.4em;
}

.description-wrapper h2{
  margin:0;
}
.nav-wrapper{
  /*
  outline: 1px solid black;
  /**/
  text-align:center;
  border-bottom:1px black solid;
  padding-bottom: 18px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}
.nav-wrapper ul{
  list-style-type: none;
  padding:0;
  margin:0;
}

.nav-wrapper ul li{
  /*
  outline: 1px solid black;
  /**/
  display: inline;
  display: inline-block;
  margin: 0 9px;
}

.nav-wrapper ul li a{
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.nav-wrapper ul li a.active{
  text-decoration: underline;
}


.content-wrapper{
  /*
  outline: 1px solid black;
  /**/
  width:100%;
  max-width:450px;
  padding:10px;
  box-sizing: border-box;
  margin:0;
  font-family: sans-serif;
  margin-top:15px;
}
.content-wrapper a{
  color:black;
  cursor: pointer;
}

.content-title{
  font-weight: bold;
}
.project-text{
  margin:0;
  margin-bottom:13px;
}
.project-text a{
  color:black;
}
.abstract-toggle-wrapper{
  padding-left: 10px;
  box-sizing: border-box;
  /*overflow:hidden;*/
}

/*
.abstract-toggle-wrapper p{
  font-size: 0.8em;
}
*/
.abstract-text-wrapper{
  overflow:hidden;
}
.abstract-text-wrapper p{
  margin: 0;
  font-family: monospace;
}
.toggle-wrapper{
  margin-top: 0px;
  margin-bottom: 15px;
}
.toggle-wrapper a{
  color:black;
  font-weight: normal;
  /*
  font-style: italic;
  */
  font-size: 0.7em;
}

.slide-in{
  transition: all ease 0.3s;
}

.fade-in{
  animation: fadeIn 1s;
}
@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
.indent{


  padding-left: 10px;
  box-sizing: border-box;
}
.no-margin{
  margin:0;
}
.small-font{
  font-size: 0.8em;
}

.description-wrapper h2.marg-top{
  margin-top:5;
}
.no-underline{
  text-decoration: none;

}
