body {
  margin: 0;
  font-family: Helvetica Neue Light, Arial, Helvetica, sans-serif;
  background: rgba(40,43,51,1);
  overflow-x: hidden;
  color: rgba(255,253,218,1);
  line-height: 1.4;
}

::selection {
  background: #CD5C5C;
  color: #FFFDDA;
}

a {
  font-family: Helvetica Neue Light, Arial, Helvetica, sans-serif;
  color: rgba(255,253,218,1);
  background-color: transparent;
  text-decoration: none;
  transition: opacity 0.2s ease, color 0.2s ease;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.8;
}

.spacing-box {
  height: 50px;
}

.main-wrapper {
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.img-wrapper {
  height: 200px;
  text-align: center;
  overflow: hidden;
}

.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.img-wrapper img.portrait {
  max-height: 250px;
  margin-top: -23px;
}

.name-wrapper {
  margin-top: 18px;
  text-align: center;
  font-size: 0.8em;
}

.name-wrapper h1 {
  margin: 0;
}

.name-wrapper a {
  text-decoration: none;
}

.name-wrapper a img {
  position: relative;
  left: 11px;
  height: 20%;
}

.description-wrapper {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 18px;
  font-size: 0.4em;
}

.description-wrapper h2 {
  margin: 0;
}

.nav-wrapper {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 18px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.nav-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-wrapper ul li {
  display: inline-block;
  margin: 0 9px;
}

.nav-wrapper ul li a {
  cursor: pointer;
  text-decoration: none;
}

.nav-wrapper ul li a.active {
  text-decoration: underline;
}

.content-wrapper {
  width: 100%;
  max-width: 450px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  margin-top: -12px;
}

.content-wrapper a {
  cursor: pointer;
}

.content-title {
  font-weight: bold;
}

.project-text {
  margin: 0;
  margin-bottom: 13px;
  color: rgba(255,253,218,1);
}

.project-text small {
  line-height: 1.2;
}

.project-text > a:first-child:hover {
  color: #CD5C5C;
  opacity: 1;
}

.abstract-toggle-wrapper {
  padding-left: 10px;
  box-sizing: border-box;
}

.abstract-text-wrapper {
  overflow: hidden;
}

.abstract-text-wrapper p {
  margin: 0;
  font-family: monospace;
}

.toggle-wrapper {
  margin-top: 0px;
  margin-bottom: 15px;
}

.toggle-wrapper a {
  font-weight: normal;
  font-size: 0.7em;
}

.slide-in {
  transition: all ease 0.3s;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.indent {
  padding-left: 10px;
  box-sizing: border-box;
}

.no-margin {
  margin: 0;
}

.small-font {
  font-size: 0.8em;
}

.description-wrapper h2.marg-top {
  margin-top: 5;
}

.no-underline {
  text-decoration: none;
}

.section-header {
  display: block;
  margin-top: 22px;
  margin-bottom: 8px;
}
